

<div class="audio-main w3ls">
	
	<div class="audio-record-list">
	<div class="profile">
			 <div class="profile-top wthree">
				 <div class="pic-sec">
					 <div class="pic">
						 <img src="/assets/searchicon.jpg" alt="<%=@search%>"/>
					 </div>
					 <div class="pic_info">
						 <h2><%=@search.upcase%></h2>
						 
					 </div>
					 <div class="clear"></div>
				 </div>
				 			 </div>
		 </div>
					
		</div>

       

		<div class="jp-playlist2">

	<div class="jp-playlist2">
	  <style>
	    table.myTable { 

	    border-collapse: separate;
	    border-spacing: 10px;
	    background-color:#EFEFEF;
	    border:0;
	    }
	  </style>
	    <table class="myTable" 	    width="100%">
	 
	  
		<ul style="display: block;">
         <% (1..Audio.count).each do |i| %>
         <% if Audio.find(i).artist.downcase  == @search or Audio.find(i).genre.downcase  == @search or Audio.find(i).name.downcase  == @search  %>
         
		<tr>
                                                    <ul style="display: block;">
                                                    <li><div><td><a  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="<%=Audio.find(i).path%>" tabindex="0"><span id="songName"><%= Audio.find(i).name%></span></a></td>
<td>
                                                    <%= link_to '<font size="4">Add to playlist</font> <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>'.html_safe,add_path(:song => Audio.find(i).name,:path => Audio.find(i).path,:id => @u),:method => :post %> </td>
	  <td>
		    <%= link_to  like_audio_path(Audio.find(i)), method: :put do %>
		  <font size="4">  Upvote </font><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
	       <%= Audio.find(i).get_upvotes.size %>
		  </td>
		       <% end %>
                                                    </div>

                                                    </li>
						    </tr>



           <% else %>                                     
             
          <% end %>

          <% end %>
	  </ul>
          </table>
          </div>
