<!DOCTYPE html>

<html>
<div class="app">
  <head>
    <title>nn</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="margin: 0;">

   
    <div class="container-fluid">

    
      <%= yield %>
     >

    </div>
   
  </body>
   </div>
</html>
