
<body>

<div class="new">



 <div class="login agile">
    <div class="w3agile-border">
    
      <div class="login-main login-agileits"> 
        <h1>SignUp</h1> 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
</div>
</div>
</body>
