
<!DOCTYPE HTML>
<html>


<div class="main_page">
<head>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


        
       
            <div id="page-wrapper">
                <div class="inner-content">
                
                      <div class="music-left">
                          <!--banner-section-->
                            <div class="banner-section">
                                <div class="banner">
                                     <div class="callbacks_container">
                                        <ul class="rslides callbacks callbacks1" id="slider4">
                                                <li>
                                                        <div class="banner-img">
                                           <img src="/assets/11.jpg" class="img-respo/assets/alt="" id="bannerimg">
                                                         </div>

                                                <div class="banner-info">
                                                                     
                                                                      <h3>ONE</h3>
                                                                      <p><span>thing about good music</span>,</p><p>when it hits you,you feel no pain</p>
                                                         </div>

                                                
                                                        

                                                </li>
                                                <li>
                                                    <div class="banner-img">
                                                  <img src="/assets/22.jpg" class="img-respo/assets/alt="" id="bannerimg">
                                                         </div>

                                                
                                                        

                                                </li>
                                                <li>
                                                 <div class="banner-img">
                                                 <img src="/assets/33.jpg" class="img-respo/assets/alt="" id="bannerimg">
                                                         </div>

                                                
                                                        
                                                </li>
                                            </ul>
                                        </div>
                                        <!--banner-->
                                    <script src="js/responsiveslides.min.js"></script>
                                 <script>
                                    // You can also use "$(window).load(function() {"
                                    $(function () {
                                      // Slideshow 4
                                      $("#slider4").responsiveSlides({
                                        auto: true,
                                        pager:true,
                                        nav:true,
                                        speed: 500,
                                        namespace: "callbacks",
                                        before: function () {
                                          $('.events').append("<li>before event fired.</li>");
                                        },
                                        after: function () {
                                          $('.events').append("<li>after event fired.</li>");
                                        }
                                      });
                                
                                    });
                                  </script>
                                <div class="clearfix"> </div>
                            </div>
                        </div>  
               
                            <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all">
                            <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
                             <script>
                                    $(document).ready(function() {
                                    $('.popup-with-zoom-anim').magnificPopup({
                                        type: 'inline',
                                        fixedContentPos: false,
                                        fixedBgPos: true,
                                        overflowY: 'auto',
                                        closeBtnInside: true,
                                        preloader: false,
                                        midClick: true,
                                        removalDelay: 300,
                                        mainClass: 'my-mfp-zoom-in'
                                    });
                                    });
                            </script>   


                    
                        <div class="albums">
                                <div class="tittle-head">
                                            <h3 class="tittle">Top Artists</h3>
                                            <div class="clearfix"> </div>
                                        </div>
<% (1..(Singer.count)).each do |i| %>
        

                                <div class="col-md-3 content-grid">
                                <%= link_to image_tag(Singer.find(i).name, id: "arImg"), audio_path(:id => Singer.find(i).name,:uid => @user) %>
                                <span style="font-size: 22px"><%=Singer.find(i).name%></span>
                                </div>

        <% end %>
    

                                
                                            <div class="clearfix"> </div>
                                        </div>
                 
                        
                        <div class="albums second">
                                        <div class="tittle-head">
                                            <h3 class="tittle">Genre</h3>
                                           
                                            <div class="clearfix"> </div>
                                        </div>


<% (1..(Genre.count)).each do |i| %>
                                <div class="col-md-3 content-grid">
                                <%= link_to image_tag(Genre.find(i).name, id: "arImg"), audio_path(:id => Genre.find(i).name,:uid => @user) %>
                                <span style="font-size: 22px"><%=Genre.find(i).name%></span>
                                </div>
<% end %>
                                    <div class="clearfix"> </div>
                                    </div>
                                <!--//discover-view-->
                            </div>
   

                         


 -->                           <div class="music-right">
                                <!--/video-main-->
                                 <div class="video-main">
                                    <div class="video-record-list">
                                        <div id="jp_container_1" class="jp-video jp-video-270p" role="application" aria-label="media player">
                                            <div class="jp-type-playlist">
                                                
                                                <div class="jp-gui">
                                                    
                                                    <div class="jp-interface">
                                                        <div class="jp-progress">
                                                            <div class="jp-seek-bar" style="width: 100%;">
                                                                <div class="jp-play-bar" style="width: 0%;"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="jp-controls-holder">
                                                            
                                                            
                                                        </div>
                                                        <div class="jp-details" style="display: none;">
                                                            <div class="jp-title" aria-label="title">1. Ellie-Goulding</div>
                                                        </div>
                                                    </div>
                                                </div>


                                              
                                               
                       
                                                <div class="jp-playlist">
                                                    <ul style="display: block;"><li class="jp-playlist-current"><div><a  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item jp-playlist-current" tabindex="0"><h2>Top 10</h2> <span class="jp-artist"></span></a></div></li><li><div><a onclick="updateSource(this)" data-value="/s1.ogg"  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value = "<%=Audio.find(1).path%>" tabindex="0">2. Mark-Ronson-Uptown <span class="jp-artist"></span>
                                                    </a></div></li><li><div><a  class="jp-playlist-item-remove" onclick="updateSource(this)" data-value="/s1.ogg" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="/georgia.ogg"tabindex="0">3. Ellie-Goulding <span class="jp-artist"></span></a></div></li><li><div><a  class="jp-playlist-item-remove" onclick="updateSource(this)" data-value="/s1.ogg" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="/s1.ogg" tabindex="0">4. Maroon-Sugar <span class="jp-artist"></span></a></div></li><li><div><a  class="jp-playlist-item-remove" onclick="updateSource(this)" data-value="/s1.ogg" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="/s1.ogg" tabindex="0">5. Pharrell-Williams <span class="jp-artist"></span></a></div></li><li><div><a  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="/s1.ogg" tabindex="0">6. Ellie-Goulding <span class="jp-artist"></span></a></div></li><li><div><a  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="/s1.ogg" tabindex="0">7. Pharrell-Williams <span class="jp-artist"></span></a></div></li></ul>
                                                </div>
                                                <br>

                                                <div class="pre-scrollable">

                                                <div class="jp-playlist">
                                                    <ul style="display: block;">

   


                             <li><div><a  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="/s1.ogg" tabindex="0">Playlist <span class="jp-artist"></span></a>
                                                    </div>
                                                    </li>

    <% (1..(Playlist.count)).each do |i| %>
    <% if Playlist.find(i).user_id == @user.id %>

                                                <li><div><a  class="jp-playlist-item-remove" style="display: none;">×</a><a  class="jp-playlist-item" onclick="updateSource(this)" data-value="<%=Playlist.find(i).path%>" tabindex="0"><%=Playlist.find(i).song%> <span class="jp-artist"></span></a>
                                                    </div>
                                                    </li>
   
                                                                       

    <% else %>                                     
             
    <% end %>

    <% end %>                                
     
                     
                                                </ul>
                                                </div>

                                                </div>



                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
             
                
    
                                                                       
                                             <div class="clearfix"></div>
                                 
                                    
                                                                                                <div class="clearfix"></div>
                                               
                                                    
                                            <div class="clearfix"></div>
                
                        
                        <div class="review-slider">
                                <div class="tittle-head">
                                    <h3 class="tittle">Featured Albums<br></h3>
                                    <div class="clearfix"> </div>
                                </div>
                                 <ul>
                                <li>
                                    <a href="single.html"><img src="/assets/v1.jpg" id="arImg" alt=""/></a>
                                    <div class="slide-title"><h4></h4></div>
                                    
                                        
                                        
                                </li>
                                <li>
                                    <a href="single.html"><img src="/assets/v2.jpg" id="arImg" alt=""/></a>
                                    <div class="slide-title"><h4></h4></div>
                                    
                                        
                                        
                                </li>
                                <li>
                                    <a href="single.html"><img src="/assets/v3.jpg" id="arImg" alt=""/></a>
                                    <div class="slide-title"><h4></h4></div>
                                    
                                        
                                        
                                </li>
                                <li>
                                    <a href="single.html"><img src="/assets/v4.jpg" id="arImg" alt=""/></a>
                                    <div class="slide-title"><h4></h4></div>
                                    
                                        
                                        
                                </li>
                                <li>
                                    <a href="single.html"><img src="/assets/v5.jpg" id="arImg" alt=""/></a>
                                    <div class="slide-title"><h4></h4></div>
                                    
                                        
                                        
                                </li>
                                
                            </ul>


                            <script type="text/javascript">
                        $(window).load(function() {
                            
                          $("#flexiselDemo1").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,            
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: { 
                                    portrait: { 
                                        changePoint:480,
                                        visibleItems: 2
                                    }, 
                                    landscape: { 
                                        changePoint:640,
                                        visibleItems: 3
                                    },
                                    tablet: { 
                                        changePoint:800,
                                        visibleItems: 4
                                    }
                                }
                            });
                            });
                        </script>
                        <script type="text/javascript" src="js/jquery.flexisel.js"></script>    
                        </div>
                                </div>
                            <div class="clearfix"></div>
  
                    </div>
     
         
   </section>



</div>
</body>
</html>
