</head> 


         <!-- /w3layouts-agile -->
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
      <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <h1><a href="index.html">Mosai<span>c</span></a></h1>
            </div>
            <div class="logo-icon text-center">
                <%= link_to "P", '/' %>
            </div>
     <!-- /w3l-agile -->
            <!--logo and iconic logo end-->
            <div class="left-side-inner">

                <!--sidebar nav start-->
                    <ul class="nav nav-pills nav-stacked custom-nav">
                        <li class="active"><a href="index.html"><i class="lnr lnr-home"></i><span>Home</span></a></li>
                        <li><a href="radio.html"><i class="camera"></i> <span>Radio</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal1"><i class="fa fa-th"></i><span>Apps</span></a></li>
                        <li><a href="radio.html"><i class="lnr lnr-users"></i> <span>Artists</span></a></li> 
                        <li><a href="browse.html"><i class="lnr lnr-music-note"></i> <span>Albums</span></a></li>                       
                        <li class="menu-list"><a href="browse.html"><i class="lnr lnr-indent-increase"></i> <span>Browser</span></a>  
                            <ul class="sub-menu-list">
                                <li><a href="browse.html">Artists</a> </li>
                                <li><a href="404.html">Services</a> </li>
                            </ul>
                        </li>
                        <li><a href="blog.html"><i class="lnr lnr-book"></i><span>Blog</span></a></li>
                        <li><a href="typography.html"><i class="lnr lnr-pencil"></i> <span>Typography</span></a></li>
                        <li class="menu-list"><a href="#"><i class="lnr lnr-heart"></i>  <span>My Favourities</span></a> 
                            <ul class="sub-menu-list">
                                <li><a href="radio.html">All Songs</a></li>
                            </ul>
                        </li>
                        <li class="menu-list"><a href="contact.html"><i class="fa fa-thumb-tack"></i><span>Contact</span></a>
                            <ul class="sub-menu-list">
                                <li><a href="contact.html">Location</a> </li>
                            </ul>
                        </li>     
                    </ul>
                <!--sidebar nav end-->
            </div>
        </div>
             <!-- /w3layouts-agile -->
                    <!-- app-->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog facebook" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                        
                        </div>
                        <div class="modal-body">
                            <div class="app-grids">
                                <div class="app">
                        <div class="col-md-5 app-left mpl">
                            <h3>Mosaic mobile app on your smartphone!</h3>
                            <p>Download and Avail Special Songs Videos and Audios.</p>
                            <div class="app-devices">
                                
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-7 app-image">
                            <img src="/assets/apps.png" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                                    </div>
                                    <div class="clearfix"></div>                                
                                </div>
                                <p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        <div class="main-content">
            <!-- header-starts -->
            <div class="header-section">
       
                <div class="menu-right">
                    <div class="profile_details">       
                          <div class="col-md-4 serch-part">
                          
                             <div class="search" style="margin-top: 12px">
                             <%= form_tag(search_path, :method => "get", id: "search-form") do %>
                             <%= text_field_tag :search, params[:search], placeholder: "Search genre name artist",id: "sbar"%>
                             <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-sm",id: "sbutton"%>
                             <% end %>
                                </div>

                            </div>
                              <!-- search-scripts -->
                                    <script src="js/classie.js"></script>
                                    <script src="js/uisearch.js"></script>
                                        <script>
                                            new UISearch( document.getElementById( 'sb-search' ) );
                                        </script>
                                    <!-- //search-scripts -->
                                             <!---->
                                              <div class="col-md-4 player">
                                                    <div class="audio-player">
                                                    <audio id="audio-player"  controls="controls">
                                                    <source id="oggSource" this.src="source.src" type="audio/ogg"></source>
                                                    <source id="mp3Source" src="" type="audio/mp3"></source>
                                                        </div>

                                                                                 
                                                
                                                <script type="text/javascript">
                                                    $(function(){
                                                      $('#audio-player').mediaelementplayer({
                                                        alwaysShowControls: true,
                                                        features: ['playpause','progress','volume'],
                                                        audioVolume: 'horizontal',
                                                        iPadUseNativeControls: true,
                                                        iPhoneUseNativeControls: true,
                                                        AndroidUseNativeControls: true
                                                    });
                                                 });
                                                </script>
                                                <!--audio-->
                                                    <link rel="stylesheet" type="text/css" media="all" href="css/audio.css">
                                                    <script type="text/javascript" src="js/mediaelement-and-player.min.js"></script>
                                                    <!---->


                                                <!--//-->
                                                <ul class="next-top">
                                                    <li><a class="ar" href="#"> <img src="/assets/arrow.png" alt=""/></a></li>
                                                    <li><a class="ar2" href="#"><img src="/assets/arrow2.png" alt=""/></i></a></li>
                                                        
                                             </ul>  
                                            </div>
                                            <div class="col-md-4 login-pop">
                                                <div id="loginpop"> <span> <%= link_to "LogOut", logout_path , method: "delete",id: "lo"%>,<i class="arrow glyphicon glyphicon-chevron-right"></i></span></a><i class="fa fa-sign-in"></i>
                                                        <div id="loginBox">  
                                           
                                                    </div>
                                                </div>
                                                <div style="float: right;">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span id="lo">Account</span><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        <li><%= link_to "Profile", current_user,id: "la"%></li>
        
        <li class="divider"></li>
        </ul>
        </div>


                                            </div>
        
        


                                        <div class="clearfix"> </div>

                                </div>

                            
                        </div>
                    <div class="clearfix"></div>
                </div>
