<!DOCTYPE html>

<html>
<div class="app">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>nn</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="margin: 0;">

   
   <%= render 'layouts/header1' %>

    
      <%= yield %>

      <%= render 'layouts/footer' %>
     

     
  </body>
   </div>
</html>
