<!DOCTYPE html>

<html>
<div class="app">
  <head>
   <title><%=full_title(yield(:title))%></title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="padding-top:30px;
  margin:0;
  background: url(/assets/a.jpg)no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  background-attachment: fixed; ">

    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

    <br>
      <%= yield %>
      <%= render 'layouts/footer' %>
      

    </div>
   
  </body>
   </div>
</html>
